@model LoginViewModel

@{
    ViewBag.Title = "User Login";
}

@{
    Layout = null;
}

@* <div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="Login" asp-controller="Account">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div> *@




<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

<!--=============== CSS ===============-->
<link rel="stylesheet" href="~/css/style.css">


<div class="login">
    <img src="~/Images/login-bg.png" alt="login image" class="login__img">

    <form method="post" asp-action="Login" asp-controller="Account" class="container">
        <h1 class="login__title">Login</h1>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="login__content">
            <div class="login__box">
                <i class="ri-user-3-line login__icon"></i>

                <div class="login__box-input">
                    <input type="email" asp-for="Email" required class="login__input" id="login-email" placeholder=" ">
                    <label asp-for="Email" class="login__label">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="login__box">
                <i class="ri-lock-2-line login__icon"></i>

                <div class="login__box-input">
                    <input type="password" asp-for="Password" required class="login__input" id="password" id="login-pass" placeholder=" ">
                    <label asp-for="Password" class="login__label">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <span class="password-toggle-icon"><i class="ri-eye-off-line login__eye" id="login-eye"></i></span>
                </div>
            </div>
        </div>

        <div class="login__check">
            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>

            <a href="#" class="login__forgot">Forgot Password?</a>
        </div>

        <button type="submit" class="login__button">Login</button>

        <p class="login__register">
            Don't have an account? <a style="cursor: pointer;" onclick="window.location= '@Url.Action( "Register", "Account")'">Register</a>
        </p>
    </form>
</div>

<script src="~/js/Eye_Toggle.js"></script>


